.emailContainer{
    height: 400px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.emailContainer form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid grey;
    padding: 2px;
    width: 480px;
    border: none !important;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.headerEmailContainer{
    color: #afafaf;
    font-weight: 650;
    letter-spacing: 0.7px;
}

.mainTextEmailContainer{
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 50px;
}
.formEmailContainer:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
.formEmailContainer input{
    letter-spacing: 0.7px;
    width: 70%;
    background: transparent;
    border: 0;
    margin-right: 5px;
}

.formEmailContainer button{
    width: 100px;
    border: none;
    height: 35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: 0.3s;
    background-image: linear-gradient(to bottom right, #835afc, #d77cff);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}
.formEmailContainer button:hover{
    background-image: linear-gradient(to bottom right,#d77cff, #835afc);
}
.emailIcon{
    margin-left: 5px;
}
.carouselContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card{
    width: 260px;
    height: 330px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.cardTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.cardTitle p{
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #2b2b2b;
}
.block{
    width: 50px;
    height: 50px;
    /* background-image: linear-gradient(to bottom right, #835afc, #d77cff); */
    border-radius: 14px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.block p{
    margin: 0;
    font-size: 36px;
    font-weight: 900;
    color: #ffffff;
}
.cardText{
    width: 90%;
    min-height: 50%;
    padding: 20px;
}
.cardText p{
    letter-spacing: 0.7px;
    color: #999999;
}
.detailButton{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-right: 45px;
    letter-spacing: 0.7px;
    transition: 0.3s;
}
.detailButton:hover{
    transform: scale(1.06);
    cursor: pointer;
}
.btnContainer{
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-around;
    align-items: flex-end;
    min-width: 140px;
    margin-right: 14%;
}

.btnNavCarousel:hover{
    color: #fff;
    background-image: linear-gradient(to bottom right, #835afc, #d77cff)
}

@media screen and (min-width: 1300px) {
    .mainContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .cardsContainer{
        width: 60%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .btnContainer{
        display: flex;
        flex-direction: row;
        height: 100px;
        justify-content: space-around;
        align-items: flex-end;
        min-width: 140px;
        margin-right: 14%;
    }
    .btnNavCarousel{
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-image: none;
        transition: 0.3s;
        color: #835afc;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
    }

}
@media screen and (max-width: 1299px) {
    .mainContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .cardsContainer{
        width: 90%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .btnContainer{
        display: flex;
        flex-direction: row;
        height: 100px;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .btnNavCarousel{
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-image: none;
        transition: 0.3s;
        color: #835afc;
        margin: 24px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
    }
}